.winners {
  width: 500px;

  & > div:first-child,
  &__body > * {
    display: grid;
    padding: 5px;
    grid-template-columns: 65px 75px 200px 60px 145px;
    align-items: center;
    justify-items: start;
  }

  &__header {
    padding: 10px 5px;
    background-color: #f0f8ff;
  }
}
