.form {
  display: flex;
  align-items: center;
  gap: 0.2rem;

  &__input--text,
  &__input--color {
    display: block;
    border: 1px solid #9a9a9a;
    border-radius: 8px;
    font-family: inherit;
  }

  &__input--text {
    padding: 0.5rem;
  }

  &__input--color {
    width: 30px;
  }

  &__input--text:disabled,
  &__input--color:disabled {
    background-color: #d3d2d2;
    border: 1px solid #a5a5a5;
  }

  &__button {
    display: flex;
    width: 100px;
    height: 35px;
    align-items: center;
    justify-content: center;
    border: 1px solid #9a9a9a;
    border-radius: 8px;
  }
}
